body {
  font-family: Verdana, sans-serif;
}
.navbar {
  background-color: rgb(184, 212, 155);
  position: relative;
  position: sticky; 
  top: 0;
}

.site-footer {
  background-color: rgb(184, 212, 155);
}
.top-bar {
  background-color: rgb(159, 182, 135);
}

.logo {
  color: rgb(76, 139, 116);
  letter-spacing: .1em;
  position: absolute;
  bottom: .2em;
  margin-left: .2em;
  font-size: 1.8rem;
}

